.taskItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px white solid;

  /* background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 50px rgba(30, 35, 40, 0.15);  */
}

.taskItem__description {
  margin: 20px 0 20px 10px;
  width: calc(100% - 100px);
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.taskItem__description--complete {
  text-decoration: line-through;
  text-decoration-color: #71357c;
  text-decoration-thickness: 3px;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 24px;
  font-weight: bold;
}

.icon__check {
  position: absolute;
  left: 0;
}
.icon__check--active {
  color: #71357c;
}

.icon__delete {
  position: absolute;
  right: 0;
}
.icon__delete:hover {
  color: #9de7b9;
}
