.taskItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px white solid;
}

.taskItem__description {
  margin: 20px 0 20px 10px;
  width: calc(100% - 70px);
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.taskItem__description--complete {
  text-decoration: line-through;
  text-decoration-color: #71357c;
  text-decoration-thickness: 3px;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: bold;
}

.icon__check {
  position: absolute;
  left: 0;
}
.icon__check--active {
  color: #71357c;
}

.icon__delete {
  position: absolute;
  right: 0;
}
.icon__delete:hover {
  color: #9de7b9;
}

@media screen and (max-width: 700px) {
  .taskItem__description {
    font-size: 13px;
  }
}