.leftPage {
  background-color: white;
  border-radius: 20px;
  width: 450px;
  height: 90vh;
  justify-self: end;
  align-self: center;
  padding: 5px 25px;
}

@media screen and (max-width: 930px) {
  .leftPage {
    justify-self: center;
  }
}

@media screen and (max-width: 490px) {
  .leftPage {
    width: 100%;
  }
}